<header class="bg-dark">
    <nav class="navbar container navbar-expand navbar-light mb-3">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{{ path("home_index") }}" class="nav-link, link-light ">Accueil</a>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="{{path("commande_list")}}" class="nav-link, link-light">Back Office</a>
            </li>
        </ul>
    </nav>
</header>